{
  "parser": "babel-eslint",

  "env": {
    "jest": true
  },

  "plugins": [
    "react",
    "react-native"
  ],

  "extends": "airbnb",

  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": [
        "Map", "Set", "List" // Immutable.js
      ]
    }],
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "max-len": [2, 120],

    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  },

  "globals": {
    "__DEV__": true
  }
}
