{
  "extends": "cooperka/react-native",

  "parser": "babel-eslint",

  "env": {
    "jest": true
  },

  "rules": {
    "react-native/no-color-literals": "off",
    "react/no-did-update-set-state": "off"
  },

  "globals": {
    "__DEV__": true
  }
}
